__pycache__/
pretrained_weights/
output/
.venv/
mlruns/
data/

*.pth
*.pt
*.pkl
*.bin
*.mp4

exp_output
result
*.log

FLUX.1-dev
Annotators
.log
*.bin
*.safetensors
*.ckpt
Realistic_Vision_V6.0_B1_noVAE
sd-vae-ft-mse
stable-diffusion-v1-5